<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.gethelloworld.android.youhadmeathelloworld" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name="com.gimbal.service.ProximityService" >
            <intent-filter>
                <action android:name="com.example.applicationname" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Hello World" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HackathonsActivity"
            android:label="Current Hackathons" >
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="Chat with Hackers"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.gethelloworld.android.youhadmeathelloworld.MainActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="Your Profile"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.gethelloworld.android.youhadmeathelloworld.MainActivity" />
        </activity>
        <activity
            android:name=".LogoutActivity"
            android:label="Logout" >
        </activity>
        <activity
            android:name=".PreparingMatchesActivity"
            android:label="Preparing Matches" >
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:label="Edit Profile" >
        </activity>
        <activity
            android:name=".MomentActivity"
            android:label="@string/title_activity_moment" >
        </activity>
        <activity
            android:name=".UserFoundActivity"
            android:label="@string/title_activity_user_found" >
        </activity>
    </application>

</manifest>
